.footer{
    height: 155px;
    background-color: #151313;
}

.footer__components{
    height: 155px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__social-list{
    width: 100px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.footer__social-net{
    fill: #A07B50;
    height: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:hover{
        fill: #fff;
        transition: 0.3s ease;
    }
}

.footer-number{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}
  
  @media (max-width: $tablet-width) {
    .footer{
        height: 211px;
    }

    .footer-location{
        font-size: 14px;
    }

    .footer-number{
        font-size: 14px;
        font-weight: normal;
    }

    .footer__components{
        padding-top: 25px;
        height: 211px;
        flex-direction: column-reverse;
        padding-bottom: 30px;
    }

    .footer__social-list{
        padding: 0;
    }

    .footer__social-net{
        width: 20px;
        height: 20px;
    }
  }