.header{
    background: #000000;
    height: 684px;
    position: relative;
}

.header__inner{
    max-width: 350px;
    margin-bottom: 20px;
}

.header__inner-title{
    font-size: 52px;
    font-weight: 400;
}

.header__image-cat{
    position: absolute;
    bottom: 0;
    right: 0;
}

.navbar{
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__menu{
    padding-top: 25px;
}

.nav__menu-crown{
    margin-top: 15px;
}

.nav__menu-link{
    text-decoration: none;
    color: #fff;
    margin-right: 50px;
    opacity: 20%;
    font-weight: 600;
    &:hover{
        opacity: 100%;
        transition: 0.3s;
    }
}

.burger-btn{
    width: 33.3333%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.burger{
    position: relative;
    right: 0;
    background:none;
    border:none;
    display: none;
    justify-content: center;
    align-items: center;
    width: 26px;
    height: 18px;
    cursor: pointer;
    transition: all .3s ease;
    margin: 0;
    padding: 0;
}

.burger-line {
    width: 100%;
    height: 2px;
    display: block;
    border-radius: 5px;
    background-color: $gold;
    transition: all .3s ease;
    &::before,&::after{
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
        height: 2px;
        border-radius: 5px;
        background-color: $gold;
        transition: all .3s ease;
    }

    &::before{
        transform: translateY(8px);
    }
    &::after{
        transform: translateY(-8px);
    }
}

.burger.burger--active .burger-line{
    background: transparent;
    box-shadow: none; 
}

.burger.burger--active .burger-line::before{
    transform: rotate(45deg);
}
.burger.burger--active .burger-line::after{
    transform: rotate(-45deg);
}

.header__inner-pref{
    margin-bottom: 80px;
}

.txt{
    color: #A07B50;
    font-size: 17px;
}

.button{
    text-decoration: none;
    color: #fff;
    border: 0.5px solid #A07B50;
    padding: 15px 35px;
    font-weight: 600;
    font-size: 14px;
    &:hover{
        background: #A07B50;
        transition: 0.3s;
    }
}

.crown{
    fill: #A07B50;
    width: 57px;
    height: 26px;
}

.net{
    fill: #fff;
    &:hover{
        fill: #A07B50;
        transition: 0.3s; 
    }
}

.header-social{
    transform: translateX(-100px);
    display: flex;
}

.header__social-list{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    &::before{
        position: absolute;
        content: '';
        height: 77.5px;
        width: 1px;
        color: #FFFFFF;
        background-color: #FFFFFF;
        opacity: 61%;
        top: -90px;
        left: 50px;
    }
}

.header__social-item{
    padding-bottom: 7px;
}

.header__social-link{
    color: #A07B50;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover{
        color: white;
        transition: 0.3s;
    }  
}

@media (max-width: $large-width) {
    .nav__menu-link{
        margin-right: 20px;
    }
    
    .nav__menu-logo{
        margin-left: 20px;    
    }

    .header__image-cat{
        max-height: 85%;
        max-width: 85%;
        right: -10%;
    }

    .header__social-list{
        flex-direction: row;
        width: 60px;
        padding: 0;
        &::before{
            content: none;
        }
    }

    .header-social{
        transform: translateX(0);
    }
  }

  @media (max-width: $tablet-width) {
    .header{
        text-align: center;
    }

    .nav__menu{
        margin-top: 35px;
        padding: 0;
        justify-content: space-between;
        visibility: hidden;
        opacity: 0;
        max-height: 0;
        transform: translateY(-35px);
        z-index: -1;
        transition: all .3s ease;
    }
    
    .nav__menu--active{
        visibility: visible;
        max-height: 100%;
        z-index: 10;
        opacity: 1;
        transform: translateY(0);
    }
    
    .txt{
        font-size: 14px;

    }

    .header__inner-title{
        font-size: 36px;
        font-weight: 400;
    }

    .header-social{
        display: none;
    }

    .header__social-link{
        font-size: 12px;
    }

    .burger{
        display: block;
        position: absolute;
        top: 45px;
    }
    
    .navbar{
        padding-top: 25px;
        flex-direction: column-reverse;
        margin-bottom: 25px;
    }

    .nav__menu{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav__menu-link{
        margin: auto;
    }

    .nav__menu-crown{
        padding: 0;
    }

    .header__inner-pref{
        margin-bottom: 40px;
    }

    .header__image-cat{
        position: static;
        max-height: 276px;
        max-width: 100%;
    }
  }