.main__aboutus{
    text-align: center;
    background-color: #000;
    background-size: 100%;
    height: 618px;
}

.main__aboutus-title{
    padding-top: 90px;
}

.main__aboutus-list{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.main__aboutus-item{
    height: 300px;
    width: 360px;
    background-color: #1F1C1D;
}

.main__aboutus-button{
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    &:hover{
        background-color: #A07B50;
        border: 10px solid #1F1C1D;
        .main__aboutus-logo{
            fill: #fff; 
        }
        transition: 0.3s ease;
    }
}

.main__aboutus-description{
    font-size: 16px;
    text-decoration: none;
    padding-left: 55px;
    padding-right: 55px;
    color: #fff;
    line-height: 1.5em;
}

.main__aboutus-picture{
    width: 110px;
    height: 110px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

.main__aboutus-logo{
    fill: #A07B50;
}