.main__question{
    text-align: center;
    background-color: #1F1C1D;
    padding-bottom: 50px;
}

.main__question-title{
    padding-top: 70px;
}

.main__question-answer{
    display: flex;
    margin-bottom: 30px;
}

.main__question-number{
    width: 100px;
    font-size: 70px;
    color: $gold;
    margin: 0;
    font-family: "Roboto";
    font-weight: bold;
}

.main__question-block{
    border: 1px solid $gold;
    width: 100%;
    transition: .3s ease-out;
    margin-left: 20px;
}

.main__question-button{
    display: flex;
    align-items: center;
    appearance: none;
    
}

.main__question-button:checked ~ .main__question-q:after {
    background-color: $gold;
    content: "--";
}

.main__question-button:checked ~ .main__question-panel{
    display: block;
}

.main__question-panel{
    display: none;
    border-top: 1px solid $gold;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 250px;
}

.main__question-q{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 40px;
    padding-bottom: 30px;
    padding-top: 30px;
    margin: 0;
    text-align: left;

    cursor: pointer;

    transition: background 0.3s ease-out;
     &::after{
         content: "+";
         position: absolute;
         border-left: 1px solid $gold;
         height: 80px;
         right: 40px;
         padding-left: 40px;
         padding-right: 40px;
         padding-top: 25px;
         font-size: 30px;
     }
}


.main__question-btn{
    position: absolute;
    right: 40px;
}

@media (max-width: $large-width) {
    .main__question-q{
        padding-left: 10px;
    }

    .main__question-panel{
        padding-left: 10px;
        padding-right: 160px;
    }
  }
  
  @media (max-width: $tablet-width) {
    .main__question-q{
        padding-left: 10px;
    }

    .main__question-panel{
        padding-left: 10px;
        padding-right: 10px;
    }

    .main__question-number{
        display: none;
    }
  }