.main__team{
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #151313;
}

.main__team-title{
    margin-top: 80px;
}

.main__team-pref{
    padding-left: 320px;
    padding-right: 320px;
}


.main__team-photo{
    position: absolute;
    left: 200px;
    background-color: #151313;
}

.main__team-mate{
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
}


.main__team-block{
    width: 700px;
    text-align: left;
    background-color: #1F1C1D;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.main__team-name{
    color: $gold;
    margin-bottom: 0;
    font-size: 24px;
}

.main__team-position{
    color: $gold;
    margin-top: 5px;
    margin-bottom: 40px;
}

.main__team-quote{
    padding-right: 80px;
    font-size: 16px;
    line-height: 1.5em;
    margin-bottom: 50px;
}

.main__team-soclist{
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 130px;
    padding-left: 0;
}

.main__team-net{
    width: 20px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__team-infomate{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid $gold;
}

@media (max-width: $large-width) {
    .main__team-pref{
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .main__team-infomate{
        margin-bottom: 150px;
    }
    
    .main__team-block{
        width: 620px;
    }
    

    .main__team-photo{
        position: absolute;
        width: 208px;
        top: 550px;
        left: 400px;
        background-color: #151313;
    }
  }
  
  @media (max-width: $tablet-width) {
      .main__team-infomate{
          border: none !important;
          padding: 0 !important;
      }

    .main__team-pref{
        padding-left: 20px;
        padding-right: 20px;
    }

    .main__team-block{
        margin-top: 100px;
        width: 290px;
        text-align: center;
        background-color: #1F1C1D;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        padding-bottom: 5px;
    }

    .main__team-photo{
        position: absolute;
        width: 156px;
        top: 150px;
        left: 85px;
        background-color: #151313;
    }

    .main__team-quote{
        padding-right: 0;
        font-size: 14px;
        line-height: 1.5em;
        margin-bottom: 0;
    }

    .main__team-soclist{
        margin-left: 90px;
        width: 100px;
        justify-content: space-between;
    }
  }